@using MB.HotWings.Mvc.Models.Ingredients
@model IngredientDetailsViewModel

@{
    ViewData["Title"] = "Ingredient Details";
}

<h1>
    Ingredient Details
    <span class="text-primary">@Model.Name</span>
</h1>

<hr />

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Price)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Price)
        <span>JOD</span>
    </dd>
</dl>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary ms-2">Edit</a>
</div>
