@using MB.HotWings.Mvc.Models.Ingredients
@model IEnumerable<IngredientViewModel>

@{
    ViewData["Title"] = "Ingredients";
}

<h1>Ingredients</h1>

<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">Create a New Ingredient</a>
</p>

<hr />

<table class="table data-tables table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredient in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => ingredient.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ingredient.Price)
                    <span>JOD</span> 
                </td>
                <td>
                    <a class="text-decoration-none" asp-action="Edit" asp-route-id="@ingredient.Id" title="Edit">
                        <i class="fa-solid fa-pen-fancy"></i>
                    </a>
                    <a class="text-decoration-none ms-2 text-info" asp-action="Details" asp-route-id="@ingredient.Id" title="Details">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <a href="#" class="text-decoration-none ms-2 text-danger" title="Delete" data-bs-toggle="modal" data-bs-target="#deleteModal_@ingredient.Id">
                        <i class="fa-solid fa-trash"></i>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal_@ingredient.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Ingredient</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <h3>
                                Are you sure you want to delete <span class="text-danger">@ingredient.Name</span>?
                            </h3>
                          </div>
                          <div class="modal-footer">

                              <form asp-action="Delete">

                                <input type="hidden" name="id" value="@ingredient.Id" />

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <input type="submit" value="Delete" class="btn btn-danger ms-2" />
                            </form>

                          </div>

                          

                        </div>
                      </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
